
[manifest]
version = "1.0.0"
dump_lua = true
priority = 0

#Jetpack
[[patches]]
[patches.pattern]
target = "functions/state_events.lua"
pattern = '''
G.STATE = G.STATES.GAME_OVER
'''
position = "after"
payload = '''
check_for_unlock({type = 'bstuck_jetpack'})
'''
match_indent = true
times = 1

#Signless
[[patches]]
[patches.pattern]
target = "card.lua"
pattern = "function Card:use_consumeable(area, copier)"
position = "after"
payload = '''
local test_for_signless = true
for k, v in pairs(G.P_CENTER_POOLS['Zodiac']) do
    if not v.discovered then test_for_signless = nil end
end
if test_for_signless then check_for_unlock({type = 'bstuck_signless'}) end
'''
match_indent = true
times = 1

#Frost and Frogs
[[patches]]
[patches.pattern]
target = '=[SMODS _ "src/overrides.lua"]'
pattern = "SMODS.calculate_context({paradox_created = true, cards = self})"
position = "after"
payload = '''    
    G.paradoxCounter = G.paradoxCounter and (G.paradoxCounter + 1) or 1
    if G.paradoxCounter >= 100 then check_for_unlock({type = 'bstuck_frostandfrogs'}) end
'''
match_indent = true
times = 1
